version: "3.9"
services:

  backend:
    build: ./apps
    restart: always
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: peserta
      DB_PASS: password
      DB_NAME: training
    ports:
      - "3000:3000"

  db:
    image: "mariadb"
    restart: always
    links:
      - phpmyadmin
    ports:
      - "3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=training
      - MYSQL_USER=peserta
      - MYSQL_PASSWORD=password
    volumes:
      - ./apps/database/:/docker-entrypoint-initdb.d
      - db-data:/var/lib/mysql

  phpmyadmin:
    image: "phpmyadmin"
    restart: always
    ports:
      - "8008:80"
    environment:
      - PMA_HOST=db

  web:
    build: ./nginx
    restart: always
    ports:
    - "80:80"
    depends_on:
    - backend

volumes:
  app-data:
  db-data: